@import "tailwindcss";

@plugin "daisyui" {
  themes: dim --default;
}

.link {
  text-decoration: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
